body {
    background-color: green;
    text-align: center;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/616/459/600/card-chips-poker-aces-wallpaper-preview.jpg");
    background-size: cover;
    margin: 0px 0px 50px;
}
.container{
    background-color: #0d0d0dbe;
}
/* img.H,D {
    position: relative;
    left: 50px;
    z-index: 1;
}
img.C,S{
    position: relative;
    left: 50px;
    z-index: 1;
} */
.title {
    font-size: 70px;
    margin: 0px 0px;
    text-shadow: -5px -5px 5px #319702;
    color: #F2EBD5;
}
.players {
    margin: 20px 20px;
    display: flex;
    justify-content: center;
}
#dealer {
    color: #F24141;
    margin: 20px 0px;
    font-size: 50px;
    border: 1px solid goldenrod;
    width: 350px;
}
#player {
    color: #F2F2F2;
    margin: 20px 0px;
    font-size: 50px;
    border: 1px solid goldenrod;
    width: 350px;
}
.playerMoves {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 20px;
}

.startGame {
    background-color: rgb(209, 88, 98);
    color: whitesmoke;
    font-size: 40px;
    padding: 4px;
    margin: 0px 30px;
}
.startGame:hover {
    cursor: pointer;
    background-color: yellow;
    color: tomato;
}

.resetGame {
    background-color: rgb(209, 88, 98);
    color: whitesmoke;
    font-size: 40px;
    padding: 4px;
    margin: 10px 20px;
}

.resetGame:hover {
    cursor: pointer;
    background-color: yellow;
    color: tomato;
}
.stand {
    background-color: #0D0D0D;
    color: whitesmoke;
    font-size: 20px;
    padding: 4px;
    margin: 10px 20px;
}
.stand:hover {
    cursor: pointer;
    background-color: yellow;
    color: tomato;
}
.hit {
    background-color: #0D0D0D;
    color: whitesmoke;
    font-size: 20px;
    padding: 4px;
    margin: 10px 30px;
}
.hit:hover {
    cursor: pointer;
    background-color: yellow;
    color: tomato;
}
.score {
    background-color: rgb(255, 255, 0);
    color: rgb(209, 88, 98);
    width: 100px;
    margin: auto;
    height: 25px;
    font-size: 20px;
    border: 1px solid rgb(209, 88, 98);
    inline-size: 200px;;
    overflow-wrap: break-word;
}
img {
    height: 100px;
    object-fit: contain;
    display: inline;
}
.classShowing {
    font: 200px;
}